<section class="inner-banner">
  <figure>
    <img
      src="https://artoflivingmall.com/images/media/2023/06/t8nEA19905.jpg"
      width="1525"
      height="469"
      alt="*"
      class="w-100"
    />

    <figcaption>
      <h2>Entertainment</h2>
    </figcaption>
  </figure>
</section>

<section class="main-section events-section-one" id="sec1">
  <div class="container">
    <div class="entertainmentWrap" id="ent_div1">
      <div class="row align-items-center">
        <div class="col-md-6">
          <figcaption>
            <div class="main-heading dark text-start mb-4">
              <h2>Kids Art Club</h2>
            </div>
            <p>
              Located in the centre of the Art of Living Mall is the kids art
              club. Young artists may explore their imaginations, let their
              creativity run wild, and hone their artistic abilities in this
              cutting-edge and captivating area. Children of all ages and
              abilities are welcome at the club, which offers a welcoming
              environment for their artistic discovery. The group encourages
              students to explore with different mediums and methods and is
              stocked with a variety of art resources, including paintbrushes,
              canvases, clay, and sketching tools. There is something for every
              prospective artist, whether they choose painting, drawing,
              sculpture, or mixed media.
            </p>
            <p>
              The teachers lead the young artists through step-by-step
              procedures while inspiring them to use their imaginations and
              realise their goals. Since children participate in group projects
              and share knowledge with one another, the kids art club places a
              strong emphasis on the value of cooperation and teamwork. The art
              club makes sure that kids have the chance to experience the
              excitement and traditions connected with each event, whether it's
              making terrifying Halloween masks, colourful Easter eggs, or
              festive Christmas cards. These holiday gatherings foster a sense
              of neighbourhood and up the ante on the fun at the art club.
            </p>
          </figcaption>
        </div>
        <div class="col-md-6">
          <figure>
            <img
              src="https://artoflivingmall.com/images/media/2023/05/2rHpj30912.png"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="entertainmentWrap" id="ent_div3">
      <div class="row align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6">
          <figure>
            <img
              src="https://artoflivingmall.com/images/media/2023/05/ruOKF30512.png"
            />
          </figure>
        </div>
        <div class="col-md-6">
          <figcaption>
            <div class="main-heading dark text-start mb-4">
              <h2>Cigar Lounge</h2>
            </div>
            <p>
              The Cigar Lounge is a sophisticated and opulent retreat for cigar
              fans and connoisseurs while nestled amid the busy ambiance of the
              Art of Living Mall. The lounge offers a distinctive setting where
              guests may relax, mingle, and indulge in the age-old enjoyment of
              cigar smoking thanks to its welcoming environment, quality variety
              of cigars, and first-rate facilities. For those looking for luxury
              and leisure, The Cigar Lounge provides an amazing experience. A
              welcoming ambience is created with comfortable couches, rich
              leather furniture, and polished wooden accents. The lounge's
              upscale atmosphere is further enhanced by soft lighting and a
              quiet atmosphere, which creates the ideal setting for indulging in
              a quality cigar.
            </p>
            <p>
              Customers are treated to a wide variety of quality cigars from all
              around the world at the Cigar Lounge. The right cigar for each
              customer's palate may be found with the help of knowledgeable
              personnel, offering a pleasurable and unforgettable smoking
              experience. A cutting-edge humidor, expertly maintained to ensure
              the quality and freshness of its tobacco selection, is available
              at The Tobacco Lounge. People may smoke cigars without being
              bothered in private seating spaces that are furnished with their
              own ashtrays and ventilation systems. The lounge guarantees a
              peaceful and cozy environment for leisure, whether partaking in
              vibrant talks with like-minded enthusiasts or seeking refuge in
              quiet thought.
            </p>
          </figcaption>
        </div>
      </div>
    </div>
    <div class="entertainmentWrap" id="ent_div2">
      <div class="row align-items-center">
        <div class="col-md-6">
          <figcaption>
            <div class="main-heading dark text-start mb-4">
              <h2>Restaurants &amp; Cafes</h2>
            </div>
            <p>
              The cafés and restaurants at the Art of Living malls work hard to
              create distinctive and welcoming environments for its patrons.
              Every visit to a mall restaurant or café may be a unique and
              satisfying experience because to the ambiance's adaptability.
              Restaurants and cafés are key to developing social relationships,
              and malls have transformed into entertainment centres. Restaurants
              are perfect for parties or gatherings since they frequently have
              rooms for bigger groups. A social centre where friends and family
              can gather to enjoy wonderful food, company, and a lively
              atmosphere is created by the restaurants and cafés in the mall due
              to the lively ambiance and accessibility to shopping and
              entertainment opportunities.
            </p>
            <p>
              The mall's restaurants and cafés are now more than simply places
              to get a quick snack. With a variety of cuisines, handy locations,
              and interesting ambiances, they provide a gastronomic excursion.
              Malls are a sanctuary for food lovers, offering everything from
              gourmet dining to cozy cafes to rest in. Restaurants and cafés in
              malls have evolved into bustling social centers where friends,
              family, and customers can congregate, indulge, and make lifelong
              memories thanks to their focus on culinary diversity, convenience,
              entertainment, and creative eating experiences.
            </p>
          </figcaption>
        </div>
        <div class="col-md-6">
          <figure>
            <img
              src="https://artoflivingmall.com/images/media/2023/05/zZQWX30612.png"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
