<app-banner
  [src]="'assets/images/entertainBnr.jpg'"
  [header]="'entertainment'"
></app-banner>
<section class="main-section events-section-one" id="sec1">
  <div class="container">
    <div class="entertainmentWrap" id="ent_div1">
      <div class="row align-items-center">
        <div class="col-md-6">
          <figcaption>
            <div class="main-heading dark text-start mb-4">
              <h2>{{ "Kids Art Club" | translate }}</h2>
            </div>
            <p>
              {{ "Kidsp1" | translate }}
            </p>
            <p>{{ "Kidsp2" | translate }}</p>
          </figcaption>
        </div>
        <div class="col-md-6">
          <figure>
            <img src="assets/images/entertainmentImg1.png" />
          </figure>
        </div>
      </div>
    </div>
    <div class="entertainmentWrap" id="ent_div3">
      <div class="row align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6">
          <figure>
            <img src="assets/images/entertainmentImg3.png" />
          </figure>
        </div>
        <div class="col-md-6">
          <figcaption>
            <div class="main-heading dark text-start mb-4">
              <h2>{{ "Cigar Lounge" | translate }}</h2>
            </div>
            <p>
              {{ "Cigarp1" | translate }}
            </p>
            <p>{{ "Cigarp2" | translate }}</p>
          </figcaption>
        </div>
      </div>
    </div>
    <div class="entertainmentWrap" id="ent_div2">
      <div class="row align-items-center">
        <div class="col-md-6">
          <figcaption>
            <div class="main-heading dark text-start mb-4">
              <h2>{{ "Restaurants & Cafes" | translate }}</h2>
            </div>
            <p>
              {{ "Restaurantsp1" | translate }}
            </p>
            <p>
              {{ "Restaurantsp2" | translate }}
            </p>
          </figcaption>
        </div>
        <div class="col-md-6">
          <figure>
            <img src="assets/images/entertainmentImg2.png" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
