<section class="inner-banner">
  <figure>
    <img
      data-src="https://artoflivingmall.com/images/media/2023/10/zYg2a04206.webp"
      alt="*"
      width="1525"
      height="469"
      class="w-100"
      loading="lazy"
    />

    <figcaption>
      <!-- <h2>Brands</h2> -->
      <h2>Brand Filter</h2>
    </figcaption>
  </figure>
</section>

<section class="main-section dine-section-one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul
          class="brands-alphabets d-flex align-items-center justify-content-between flex-wrap mb-4"
        >
          <li class="get_brand">
            <a class="active" href="https://artoflivingmall.com/brand">All</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=A">A</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=B">B</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=C">C</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=D">D</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=E">E</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=F">F</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=G">G</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=H">H</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=I">I</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=J">J</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=K">K</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=L">L</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=M">M</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=N">N</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=O">O</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=P">P</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=Q">Q</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=R">R</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=S">S</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=T">T</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=U">U</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=V">V</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=W">W</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=X">X</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=Y">Y</a>
          </li>
          <li class="get_brand">
            <a class="" href="https://artoflivingmall.com/brand?alpha=Z">Z</a>
          </li>
        </ul>
      </div>
      <div class="">
        <div class="row">
          <h5 class="mb-3">A</h5>

          <div class="col-sm-6 col-md-4">
            <a href="https://artoflivingmall.com/brand-details/aroma-24-7">
              <figure class="mt-4">
                <img
                  src="https://artoflivingmall.com/images/media/2023/12/rTGbp12906.jpg"
                  height="540"
                  width="416"
                  alt="*"
                />

                <figcaption class="mt-4">
                  <div><h3>Aroma 24/7</h3></div>
                </figcaption>
              </figure>
            </a>
          </div>

          <div class="col-sm-6 col-md-4">
            <a href="https://artoflivingmall.com/brand-details/art-de-vivre">
              <figure class="mt-4">
                <img
                  src="https://artoflivingmall.com/images/media/2023/10/1bjr004207.webp"
                  height="540"
                  width="416"
                  alt="*"
                />

                <figcaption class="mt-4">
                  <div><h3>Art de Vivre</h3></div>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <a [routerLink]="['/']" class="btn" style="border: 1px solid #c10016"
            >Back To Home</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
