<app-banner
  [src]="'assets/images/aboutBnr.jpg'"
  [header]="'aboutTheMall'"
></app-banner>
<section class="main-section about-section-one bg-white">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-6">
        <article>
          <p>
            {{ "art_of_living_description1" | translate }}
          </p>
          <p>
            {{ "art_of_living_description2" | translate }}
          </p>
          <p>
            {{ "art_of_living_description3" | translate }}
          </p>
          <div class="btnGrp mt-md-5">
            <a href="javascript:;" class="btn">{{ "booklet" | translate }}</a>
            <a href="javascript:;" class="btn btnBg">{{
              "presentation" | translate
            }}</a>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <div class="vidWrp">
          <video
            muted
            loop
            id="myVideo"
            class="myVideo w-100 h-100"
            autoplay="true"
            poster="assets/images/artOfLiving.mp4"
          >
            <source src="assets/images/artOfLiving.mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section about-section-two dark p-0 bg-white">
  <div class="container">
    <h2>{{ "entertainment" | translate }}</h2>
    <div class="row">
      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <a [routerLink]="['/entertainment']">
          <figure>
            <img src="assets/images/aboutSec2Img1.jpg" alt="*" class="w-100" />
            <figcaption>
              <h3>{{ "kids_art_club" | translate }}</h3>
            </figcaption>
          </figure>
        </a>
      </div>

      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <a [routerLink]="['/entertainment']">
          <figure>
            <img src="assets/images/aboutSec2Img2.jpg" alt="*" class="w-100" />
            <figcaption>
              <h3>{{ "restaurants_cafes" | translate }}</h3>
            </figcaption>
          </figure>
        </a>
      </div>

      <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
        <a [routerLink]="['/entertainment']">
          <figure>
            <img src="assets/images/aboutSec2Img3.jpg" alt="*" class="w-100" />
            <figcaption>
              <h3>{{ "cigar_lounge" | translate }}</h3>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="main-section about-section-three dark bg-white">
  <div class="container">
    <h2>{{ "entertainment" | translate }}</h2>
    <ul class="sliderxs">
      <li>
        <figure>
          <p>
            <img src="assets/images/aboutSec2Icon1.svg" alt="" />
          </p>
        </figure>
        <p>{{ "respectful_clothing" | translate }}</p>
      </li>
      <li>
        <figure>
          <img src="assets/images/aboutSec2Icon2.svg" alt="" />
        </figure>
        <p>{{ "alcohol_prohibited" | translate }}</p>
      </li>
      <li>
        <figure>
          <p>
            <img src="assets/images/aboutSec2Icon3.svg" alt="" />
          </p>
        </figure>
        <p>{{ "no_smoking" | translate }}</p>
      </li>
      <li>
        <figure>
          <img src="assets/images/aboutSec2Icon4.svg" alt="" />
        </figure>
        <p>{{ "no_pets" | translate }}</p>
      </li>
      <li>
        <figure>
          <p>
            <img src="assets/images/aboutSec2Icon5.svg" alt="" />
          </p>
        </figure>
        <p>{{ "no_dangerous_activities" | translate }}</p>
      </li>
    </ul>
  </div>
</section>

<section
  class="main-section about-section-four home-section-four home-section-two"
>
  <div class="container-fluid g-0">
    <figure class="sec2Inr">
      <img
        src="https://artoflivingmall.com/images/media/2023/06/Mphxh01610.jpg"
        alt="*"
      />
      <figcaption>
        <h2>{{ "be_a_partner" | translate }}</h2>
        <p>
          {{ "partner_description" | translate }}
        </p>
        <a [routerLink]="['/partner']" class="btn">{{
          "discover" | translate
        }}</a>
      </figcaption>
    </figure>
  </div>
</section>

<section class="main-section about-section-five">
  <div class="container">
    <ul class="sliderxs">
      <li *ngFor="let image of images">
        <figure>
          <a
            [href]="image"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
          >
            <img class="" [src]="image" alt="Image" />
          </a>
        </figure>
      </li>
    </ul>
  </div>
</section>
