<div class="offcanvas offcanvas-end w-100" id="fixedHeader">
  <div class="container">
    <div class="offcanvas-header animation-s5">
      <a [routerLink]="['/']" (click)="closeOffcanvas()" class="logo">
        <img
          [src]="
            currentLang === 'en'
              ? 'assets/images/logo.svg'
              : 'assets/images/logo_ar.svg'
          "
          alt="*"
        />
      </a>
      <div class="d-flex flex-row align-items-center gap-5">
        <ul class="socialIcons">
          <li>
            <a href="https://www.facebook.com/ArtofLivingMall" target="_blank">
              <img
                src="assets/images/fb.svg"
                height="26px"
                width="26px"
                alt="facebook"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/artoflivingmall/"
              target="_blank"
            >
              <img
                src="assets/images/insta.svg"
                height="26px"
                width="26px"
                alt="instagram"
              />
            </a>
          </li>
          <li>
            <a href="https://twitter.com/artcentremall?lang=en" target="_blank">
              <img
                src="assets/images/twitter.svg"
                height="26px"
                width="26px"
                alt="twitter"
              />
            </a>
          </li>
        </ul>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
        ></button>
      </div>
    </div>

    <div class="offcanvas-body">
      <table>
        <tr>
          <td>
            <a [routerLink]="['/']" (click)="closeOffcanvas()">
              {{ "home" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
          <td>
            <a [routerLink]="['/offers']" (click)="closeOffcanvas()">
              {{ "offers" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
          <td>
            <a [routerLink]="['/event']" (click)="closeOffcanvas()">
              {{ "events" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
        </tr>

        <tr>
          <td>
            <a [routerLink]="['/mall']" (click)="closeOffcanvas()">
              {{ "aboutTheMall" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
          <td>
            <a [routerLink]="['/plan']" (click)="closeOffcanvas()">
              {{ "planYourVisit" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
          <td>
            <a [routerLink]="['/advisor']" (click)="closeOffcanvas()">
              {{ "shoppingAdvisor" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
        </tr>

        <tr>
          <td>
            <a [routerLink]="['/partner']" (click)="closeOffcanvas()">
              {{ "beOurPartner" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
          <td>
            <a [routerLink]="['/dine']" (click)="closeOffcanvas()">
              {{ "dine" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
          <td>
            <a [routerLink]="['/blog']" (click)="closeOffcanvas()">
              {{ "blog" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
        </tr>

        <tr>
          <td>
            <a [routerLink]="['/shop']" (click)="closeOffcanvas()">
              {{ "shop" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
          <td>
            <a [routerLink]="['/entertainment']" (click)="closeOffcanvas()">
              {{ "entertainment" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
          <td>
            <a [routerLink]="['/contact']" (click)="closeOffcanvas()">
              {{ "contact" | translate }}
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
        </tr>

        <tr>
          <td>
            <a
              [routerLink]="['/designer-application']"
              (click)="closeOffcanvas()"
            >
              Designers Club
              <img
                src="assets/images/canvasSvg.svg"
                alt="*"
                width="48px"
                height="48px"
              />
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
