<app-banner [src]="'assets/images/dine-banner.png'" [header]="'planYourVisit'">
</app-banner>

<section class="main-section plan-section-one">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-md-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <img src="assets/images/hours.svg" alt="" />

              {{ "openingHours" | translate }}
            </button>
          </li>

          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              <img src="assets/images/profile.svg" alt="" />

              {{ "parkingInformation" | translate }}
            </button>
          </li>

          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="getting-tab"
              data-bs-toggle="tab"
              data-bs-target="#getting"
              type="button"
              role="tab"
              aria-controls="getting"
              aria-selected="false"
            >
              <img src="assets/images/getting.svg" alt="" />
              {{ "gettingHere" | translate }}
            </button>
          </li>

          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="qa-tab"
              data-bs-toggle="tab"
              data-bs-target="#qa"
              type="button"
              role="tab"
              aria-controls="qa"
              aria-selected="false"
            >
              <img src="assets/images/qa.svg" alt="" />

              Q&amp;A
            </button>
          </li>
        </ul>
      </div>

      <div class="col-md-9">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="main-heading dark text-start">
              <h2>{{ "openingHours" | translate }}</h2>
            </div>

            <ul>
              <li>
                <h3>{{ "mondayThursday" | translate }}</h3>

                <span>10:00 am - 10:00 pm</span>
              </li>

              <li>
                <h3>{{ "fridaySunday" | translate }}</h3>

                <span>10:00 am - 10:00 pm</span>
              </li>
            </ul>

            <p>
              {{ "opend" | translate }}
            </p>
          </div>

          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="main-heading dark text-start">
              <h2>{{ "parkingInformation" | translate }}</h2>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="accordion" id="accordionExample2">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne5">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne5"
                        aria-expanded="false"
                        aria-controls="collapseOne5"
                      >
                        {{ "parkingFee" | translate }}
                      </button>
                    </h2>

                    <div
                      id="collapseOne5"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingOne5"
                      data-bs-parent="#accordionExample2"
                    >
                      <div class="accordion-body">
                        <p>
                          {{ "parkd" | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="accordion" id="accordionExample1"></div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="getting"
            role="tabpanel"
            aria-labelledby="getting-tab"
          >
            <figcaption>
              <div class="main-heading dark text-start mb-4">
                <h2>{{ "gettingHere" | translate }}</h2>
              </div>

              <div class="d-flex align-items-center">
                <p>
                  <img src="assets/images/plus.svg" alt="" />
                </p>

                <p>
                  {{ "address" | translate }}
                </p>
              </div>
            </figcaption>

            <figure>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.9147195071373!2d55.227968999999995!3d25.104748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6955ba96891f%3A0xcc0179fe84dd5015!2sART%20OF%20LIVING%20MALL!5e0!3m2!1sen!2s!4v1687350006473!5m2!1sen!2s"
                width="100%"
                height="400px"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </figure>
          </div>

          <div
            class="tab-pane fade"
            id="qa"
            role="tabpanel"
            aria-labelledby="qa-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="main-heading dark text-start mb-4">
                  <h2>{{ "haveAQuestion" | translate }}</h2>
                </div>

                <h4 class="mb-3">{{ "happyToHelp" | translate }}</h4>

                <p>
                  {{ "inquiry" | translate }}
                </p>

                <a [routerLink]="['/contact']" class="btn">{{
                  "contact" | translate
                }}</a>
              </div>

              <div class="col-md-6 mt-4 mt-md-0">
                <figure>
                  <img src="assets/images/qa.png" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
