<section class="inner-banner">
  <figure>
    <img
      src="https://artoflivingmall.com/images/media/2023/10/zYg2a04206.webp"
      alt="*"
      class="w-100"
    />
    <figcaption>
      <h2>Brands</h2>
    </figcaption>
  </figure>
</section>
<section class="main-section dine-section-one">
  <div class="container">
    <div class="main-heading dark">
      <h2 class="mb-4">Semi Classic</h2>
      <p>Be sure to stay tuned as we have more shops opening soon.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <a href="https://artoflivingmall.com/brand-details/decoroom">
          <figure class="mt-4">
            <img
              src="https://artoflivingmall.com/images/media/2023/11/23qbM28910.jpg"
              alt="*"
            />
            <figcaption class="mt-4">
              <h3>Decoroom</h3>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="https://artoflivingmall.com/brand-details/dimora">
          <figure class="mt-4">
            <!-- <img  data-src="https://artoflivingmall.com/images/media/2023/10/Wkcdk04807.webp" loading="lazy" alt="*"> -->
            <img
              src="https://artoflivingmall.com/images/media/2023/10/Wkcdk04807.webp"
              alt="*"
            />
            <figcaption class="mt-4">
              <h3>Dimora</h3>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="https://artoflivingmall.com/brand-details/id-vision">
          <figure class="mt-4">
            <!-- <img  data-src="https://artoflivingmall.com/images/media/2024/06/vmcMI03408.jpg" loading="lazy" alt="*"> -->
            <img
              src="https://artoflivingmall.com/images/media/2024/06/vmcMI03408.jpg"
              alt="*"
            />
            <figcaption class="mt-4">
              <h3>ID Vision</h3>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="https://artoflivingmall.com/brand-details/elve-1">
          <figure class="mt-4">
            <!-- <img  data-src="https://artoflivingmall.com/images/media/2023/10/yV75704307.webp" loading="lazy" alt="*"> -->
            <img
              src="https://artoflivingmall.com/images/media/2023/10/yV75704307.webp"
              alt="*"
            />
            <figcaption class="mt-4">
              <h3>Elve Luxury</h3>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a
          href="https://artoflivingmall.com/brand-details/quadr-angle-furniture"
        >
          <figure class="mt-4">
            <!-- <img  data-src="https://artoflivingmall.com/images/media/2023/10/lTPGI04107.webp" loading="lazy" alt="*"> -->
            <img
              src="https://artoflivingmall.com/images/media/2023/10/lTPGI04107.webp"
              alt="*"
            />
            <figcaption class="mt-4">
              <h3>Quadr Angle Furniture</h3>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a [routerLink]="['/branddetails']">
          <figure class="mt-4">
            <img
              src="https://artoflivingmall.com/images/media/2024/03/4aFFk12806.jpg"
              alt="*"
            />
            <figcaption class="mt-4">
              <div><h3>IMA Gallery</h3></div>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="main-section home-section-two brand-section">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="sec2WrpMain">
          <figure class="sec2Inr">
            <img
              src="https://artoflivingmall.com/images/media/2023/12/DCpx923405.jpg"
              width="675"
              height="563"
              alt="*"
            />
            <figcaption>
              <h2>Book Your Shopping Advisor</h2>
              <a [routerLink]="['/offers']" class="btn">{{
                "showAll" | translate
              }}</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
