<footer class="footer">
  <div class="container">
    <div class="topFooter py-5">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row justify-content-between">
            <div class="col-sm-6 col-lg-4 col-xxl-3">
              <a [routerLink]="['/']" class="logo">
                <img
                  [src]="
                    currentLang === 'en'
                      ? 'assets/images/logo.svg'
                      : 'assets/images/logo_ar.svg'
                  "
                  alt="*"
                />
              </a>
              <ul class="socialIcons mt-3 mt-lg-5">
                <li>
                  <a
                    href="https://www.facebook.com/ArtofLivingMall"
                    target="_blank"
                    ><img
                      src="assets/images/fb.svg"
                      height="26px"
                      width="26px"
                      alt="facebook"
                  /></a>
                </li>
                <li>
                  <a
                    href="https://twitter.com/artcentremall?lang=en"
                    target="_blank"
                    ><img
                      src="assets/images/twitter.svg"
                      height="26px"
                      width="26px"
                      alt="twitter"
                  /></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/company/art-of-living-mall/?viewAsMember=true"
                    target="_blank"
                    ><img
                      src="assets/images/linkedin.svg"
                      height="26px"
                      width="26px"
                      alt="linkedIn"
                  /></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/artoflivingmall/"
                    target="_blank"
                    ><img
                      src="assets/images/insta.svg"
                      height="26px"
                      width="26px"
                      alt="instagram"
                  /></a>
                </li>
                <li>
                  <a href="mailto:info@artoflivingmall.com" target="_blank"
                    ><img
                      src="assets/images/envelope.svg"
                      height="26px"
                      width="26px"
                      alt="email"
                  /></a>
                </li>
                <li>
                  <a href="tel:800 (AOLM) 2656"
                    ><img
                      src="assets/images/phone.svg"
                      height="26px"
                      width="26px"
                      alt="phone"
                  /></a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <ul
                class="menu d-flex justify-content-start justify-content-xl-between align-items-center flex-row flex-wrap my-3 my-md-0"
              >
                <li>
                  <a [routerLink]="['/']">{{ "home" | translate }}</a>
                </li>
                <li>
                  <a [routerLink]="['/event']">{{ "events" | translate }}</a>
                </li>
                <li>
                  <a [routerLink]="['/mall']">{{
                    "aboutTheMall" | translate
                  }}</a>
                </li>
                <li>
                  <a [routerLink]="['/dine']">{{ "dine" | translate }}</a>
                </li>
                <li>
                  <a href="shop">{{ "shop" | translate }}</a>
                </li>
                <li>
                  <a [routerLink]="['/entertainment']">{{
                    "entertainment" | translate
                  }}</a>
                </li>
                <li>
                  <a [routerLink]="['/designer-application']">
                    {{ "designersClub" | translate }}</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <h4 class="text-white mt-sm-4 mt-lg-0">
                {{ "Newsletter" | translate }}
              </h4>
              <form class="mailchimp-form" action="">
                <input
                  type="hidden"
                  name="_token"
                  value="J9fDssdhNocdAjNoDPdiNADbG4piGmziNHcpHwxi"
                />
                <div class="formWrap">
                  <input
                    type="email"
                    name="email"
                    required
                    placeholder="Enter Your Mail"
                    class="form-control"
                  />
                  <button type="submit" class="btn mt-3">
                    {{ "discover" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomFooter py-3">
    <div class="container">
      <p class="m-0 text-center text-white">
        © 2025
        <a [routerLink]="['/']" class="text-white">Art Of Living.</a>
        All Copyrights Reserved
      </p>
    </div>
  </div>
</footer>
