<div
  class="modal fade partner-popup"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>

<app-hidden-header ngSkipHydration></app-hidden-header>
<header class="header">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 col-md-3">
        <a [routerLink]="['']" class="logo">
          <img
            [src]="
              currentLang === 'en'
                ? 'assets/images/logo.svg'
                : 'assets/images/logo_ar.svg'
            "
            alt="*"
          />
        </a>
      </div>
      <div class="col-6 col-md-9">
        <ul class="rightHead">
          <li class="d-none d-md-block">
            <a class="partnerLnk" [routerLink]="['/product']"> All Shops </a>
          </li>

          <li class="d-none d-md-block">
            <a class="partnerLnk" [routerLink]="['/designers']">
              {{ "designersClub" | translate }}
            </a>
          </li>

          <li class="d-none d-md-block">
            <a class="partnerLnk" [routerLink]="['/partner']">
              {{ "beOurPartner" | translate }}
            </a>
          </li>
          <li class="languageDrop">
            <a
              href=""
              class="lang_text"
              (click)="toggleLanguage(); $event.preventDefault()"
            >
              {{ currentLang === "en" ? "AR" : "EN" }}
            </a>
          </li>
          <li class="megaBtn">
            <button
              class=""
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#fixedHeader"
            >
              <svg
                width="25"
                height="25"
                viewBox="0 0 72 37"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 1L71 0.999994"
                  stroke="white"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M1 18.5L71 18.5"
                  stroke="white"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M1 36L71 36"
                  stroke="white"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
