<section class="inner-banner">
  <figure>
    <img
      src="https://artoflivingmall.com/images/media/2023/06/E3C6919906.jpg"
      alt="*"
      class="w-100"
    />
    <figcaption>
      <h2>Brands With Kid’s Furniture</h2>
    </figcaption>
  </figure>
</section>

<section class="main-section dine-section-one bg-white">
  <div class="container">
    <div class="main-heading dark">
      <h2 class="mb-4">Brands</h2>
      <p>Be sure to stay tuned as we have more shops opening soon.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="javascript:;">
          <figure class="mt-4">
            <a href="https://artoflivingmall.com/brand-details/kids-avenue"
              ><img
                src="https://artoflivingmall.com/images/media/2023/11/kSgKy01106.jpg"
                alt="*"
            /></a>
            <figcaption class="mt-4">
              <a href="https://artoflivingmall.com/brand-details/kids-avenue"
                ><h3>Kids Avenue</h3></a
              >
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="main-section home-section-two">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="sec2WrpMain">
          <figure class="sec2Inr">
            <img
              data-src="https://artoflivingmall.com/images/media/2023/12/DCpx923405.jpg"
              loading="lazy"
              alt="*"
            />
            <figcaption>
              <h2>Book Your Shopping Advisor</h2>
              <a href="https://artoflivingmall.com/offers" class="btn"
                >Show All</a
              >
            </figcaption>
          </figure>
          <div class="sec2Slider">
            <article>
              <h4><span></span></h4>
            </article>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <figure class="sec2Inr">
          <img
            src="https://artoflivingmall.com/images/media/2023/11/tlCdI27701.webp"
            alt="*"
          />
          <figcaption>
            <h2>Kids Furniture</h2>
            <a href="https://artoflivingmall.com/kids_furniture" class="btn"
              >Discover</a
            >
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
