<div class="mousa"></div>
<div class="bartner">
  <div class="container" id="" tabindex="5">
    <div class="modal-dialog">
      <div class="modal-content">
        <form
          enctype="multipart/form-data"
          action="https://artoflivingmall.com/partnerForm"
          method="post"
          id="partnerForm"
        >
          <input
            type="hidden"
            name="_token"
            value="umu4NHIPpqDqKZ5sMyJgdeUmXtW80HT17X5BV0Xs"
          />
          <div class="modal-body">
            <h2 class="mb-4 text-center">Be A Partner</h2>

            <div class="row g-4">
              <!-- Tenant Category -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Tenant Category <sup class="text-danger">*</sup>
                </label>
                <input
                  type="text"
                  name="day"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Brand Name -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Brand Name<sup class="text-danger">*</sup>
                </label>
                <input
                  type="text"
                  name="brand_name"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Trade License -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Trade License No.<sup class="text-danger">*</sup>
                </label>
                <input
                  type="text"
                  name="license"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Owner/Franchise -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Owner/Franchise <sup class="text-danger">*</sup>
                </label>
                <input
                  type="text"
                  name="owner"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Physical Address -->
              <div class="form-group col-12">
                <label class="form-label mb-1">
                  Physical Address <sup class="text-danger">*</sup>
                </label>
                <input
                  type="text"
                  name="address"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Key Personnel -->
              <div class="form-group col-12">
                <label class="form-label mb-1">
                  Name of the key Personnel (Mr. / Mrs.)
                  <sup class="text-danger">*</sup>
                </label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Phone -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Phone<sup class="text-danger">*</sup>
                </label>
                <input
                  type="number"
                  name="phone"
                  class="form-control phoneNo2"
                  placeholder="Enter Here"
                  required
                />
                <span id="phoneValid2" style="color: red"></span>
              </div>

              <!-- Email -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Email<sup class="text-danger">*</sup>
                </label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Website -->
              <div class="form-group col-12">
                <label class="form-label mb-1">
                  Website Address <sup class="text-danger">*</sup>
                </label>
                <input
                  type="text"
                  name="web"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Business Years -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Number of years in business <sup class="text-danger">*</sup>
                </label>
                <input
                  type="number"
                  min="1"
                  name="business_years"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Existing Outlets -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Number of existing outlets (Location/Size)
                  <sup class="text-danger">*</sup>
                </label>
                <input
                  type="text"
                  name="outlets"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Shop Size -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Requested Shop Size in Square Feet
                  <sup class="text-danger">*</sup>
                </label>
                <input
                  type="number"
                  min="1"
                  name="shop_size"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Rent -->
              <div class="form-group col-12 col-md-6">
                <label class="form-label mb-1">
                  Target rent per square feet <sup class="text-danger">*</sup>
                </label>
                <input
                  type="number"
                  min="1"
                  name="rent"
                  class="form-control"
                  placeholder="Enter Here"
                  required
                />
              </div>

              <!-- Captcha -->
              <div class="form-group col-12">
                <div
                  class="g-recaptcha"
                  data-sitekey="6LdAaiUoAAAAAAcjqjPHQgg2QH6CSfNy67QFRq9h"
                ></div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-4">
              Submit Registration
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
