<section class="inner-banner">
  <figure>
    <img
      src="https://artoflivingmall.com/images/media/2023/09/I9K7M09201.jpg"
      width="1525"
      height="469"
      alt="*"
      class="w-100"
    />

    <figcaption>
      <h2>Shops</h2>

      <p>
        Our intriguing shops will soon be launching in the mall. Stay connected
        to know when they open, and get ready to enjoy shopping to entirely new
        levels.
      </p>
    </figcaption>
  </figure>
</section>

<section class="main-section home-section-one dark" id="sec1">
  <div class="container">
    <div class="main-heading">
      <h2>Categories</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/11/jGjJk27601.webp"
              height="338px"
              width="338px"
              alt="Modern"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Modern</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/ohQcy13312.webp"
              height="338px"
              width="338px"
              alt="Semi Classic"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Semi Classic</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/MqEju13712.webp"
              height="338px"
              width="338px"
              alt="Classic"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Classic</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/quExY13612.webp"
              height="338px"
              width="338px"
              alt="Kids Furniture"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Kids Furniture</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/YpbwY13812.webp"
              height="338px"
              width="338px"
              alt="Accessories"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Accessories</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/gFEyF13912.webp"
              height="338px"
              width="338px"
              alt="Outdoor Furniture"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Outdoor Furniture</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/pyIl813112.webp"
              height="338px"
              width="338px"
              alt="Mattresses"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Mattresses</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/09/rIRar05405.png"
              height="338px"
              width="338px"
              alt="Carpets"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Carpets</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/11/0fKVx27301.webp"
              height="338px"
              width="338px"
              alt="Flooring"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Flooring</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/11/6fYzR27301.webp"
              height="338px"
              width="338px"
              alt="Kitchens"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Kitchens</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2024/04/CG90c22505.png"
              height="338px"
              width="338px"
              alt="Lightings"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Lightings</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
    </div>
  </div>
</section>
