<app-banner [src]="'assets/images/mmBg.jpg'" [header]="'shop'"></app-banner>
<section class="main-section home-section-one dark" id="sec1">
  <div class="container">
    <div class="main-heading">
      <h2>{{ "Categories" | translate }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3 mb-5" *ngFor="let categorie of categories">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="http://152.42.233.17{{ categorie.image }}"
              height="338px"
              width="338px"
              alt="*"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">
              {{ currntLang == "en" ? categorie.title_en : categorie.title_ar }}
            </h4>
            <span class="btnLnk">{{ "Discover" | translate }}</span>
          </figcaption>
        </a>
      </div>
    </div>
  </div>
</section>
