<section class="banner">
  <div class="banner-slider">
    <div class="gallery">
      <figure>
        <img
          src="assets/images/home.png"
          data-src="assets/images/home.png"
          alt="Live the Art of Living"
          class="full-image animated"
          data-animation-in="zoomInImage"
          width="1356"
          height="289"
        />

        <figcaption>
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="figWrap">
                  <h1
                    class="animated top-title text-white"
                    data-animation-in="fadeInRight"
                    data-delay-in="0.2"
                  >
                    {{ "liveTheArtOfLiving" | translate }}
                  </h1>
                  <p class="text-white">
                    {{ "atTheArtOfLivingMall" | translate }}
                  </p>
                  <a
                    [routerLink]="['/shop']"
                    class="btn"
                    data-animation-in="fadeInUp"
                  >
                    {{ "visitUsToday" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="scroll-down">
    <a href="#sec1">
      <img src="assets/images/down.svg" alt="" />
    </a>
  </div>
</section>

<section class="main-section home-section-one dark" id="sec1">
  <div class="container">
    <div class="main-heading">
      <h2>{{ "Discover Shops" | translate }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3 mb-5" *ngFor="let categorie of categories">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="http://152.42.233.17{{ categorie.image }}"
              height="338px"
              width="338px"
              alt="*"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">
              {{ currntLang == "en" ? categorie.title_en : categorie.title_ar }}
            </h4>
            <span class="btnLnk">{{ "Discover" | translate }}</span>
          </figcaption>
        </a>
      </div>
    </div>
    <a
      [routerLink]="['/product']"
      style="margin: auto; display: table; border: 1px solid #c10016"
      class="btn"
    >
      {{ "viewAllBrands" | translate }}</a
    >
  </div>
</section>

<section class="main-section home-section-two">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-sm-12">
        <div class="sec2WrpMain mb-3 mb-sm-0">
          <figure class="sec2Inr">
            <img
              src="https://artoflivingmall.com/images/media/2023/12/DCpx923405.jpg"
              height="662px"
              width="794px"
              alt="Book Your Shopping Advisor"
            />
            <figcaption>
              <h2>Book Your Shopping Advisor</h2>
              <a [routerLink]="['/advisor']" class="btn">{{
                "showAll" | translate
              }}</a>
            </figcaption>
          </figure>
          <div class="sec2Slider">
            <article>
              <h4><span></span></h4>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section home-section-three dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="main-heading">
          <h2 class="mb-4">{{ "shopsComingSoon" | translate }}</h2>
          <p>{{ "stayTunedMoreShops" | translate }}</p>
        </div>
        <div class="sec3Slider"></div>
      </div>
    </div>
  </div>
</section>

<section class="main-section home-section-four home-section-two">
  <div class="container-fluid g-0">
    <figure class="sec2Inr">
      <img
        src="https://artoflivingmall.com/images/media/2023/07/CDmmR13712.webp"
        height="662px"
        width="1588px"
        alt="Dine"
      />
      <figcaption>
        <h2>{{ "dine" | translate }}</h2>
        <p>
          {{ "dined2" | translate }}
        </p>
        <a [routerLink]="['/dines']" class="btn">{{
          "discover" | translate
        }}</a>
      </figcaption>
    </figure>
  </div>
</section>

<section class="main-section home-section-five home-section-two">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="sec2WrpMain">
          <div class="sec5Slider">
            <figure class="sec2Inr">
              <img
                src="assets/images/sec5Img.png"
                height="781px"
                width="770px"
                alt="Events Calendar"
              />
              <figcaption class="sec2Inr">
                <h2>Events Calendar</h2>
                <p>
                  The mall is buzzing with an exciting lineup of events that are
                  sure to <br />
                  captivate visitors of all ages, stay updated.
                </p>
                <a [routerLink]="['/event']" class="btn">
                  {{ "discover" | translate }}
                </a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="main-section home-section-four home-section-six home-section-two"
>
  <div class="container-fluid g-0">
    <figure class="sec2Inr">
      <img
        src="assets/images/blogBnr.jpg"
        height="662px"
        width="1588px"
        alt="Blog"
      />
      <figcaption>
        <h2>{{ "blog" | translate }}</h2>
        <p>
          {{ "blogd" | translate }}
        </p>
        <a [routerLink]="['/blog']" class="btn">{{ "discover" | translate }}</a>
      </figcaption>
    </figure>
  </div>
</section>
