<section class="banner">
  <div class="banner-slider">
    <div class="gallery">
      <figure>
        <img
          src="https://artoflivingmall.com/images/media/2024/10/OtHIh28708.png"
          data-src="https://artoflivingmall.com/images/media/2024/10/OtHIh28708.png"
          alt="Live the Art of Living"
          class="full-image animated"
          data-animation-in="zoomInImage"
          width="1356"
          height="289"
        />

        <figcaption>
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="figWrap">
                  <h1
                    class="animated top-title text-white"
                    data-animation-in="fadeInRight"
                    data-delay-in="0.2"
                  >
                    {{ "liveTheArtOfLiving" | translate }}
                  </h1>
                  <p class="text-white">
                    {{ "atTheArtOfLivingMall" | translate }}
                  </p>
                  <a
                    [routerLink]="['/shop']"
                    class="btn"
                    data-animation-in="fadeInUp"
                  >
                    {{ "visitUsToday" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="scroll-down">
    <a href="#sec1">
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 50 50"
        style="enable-background: new 0 0 50 50"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: none;
            stroke: #ffffff;
            stroke-miterlimit: 10;
          }
          .st1 {
            fill: #ffffff;
          }
        </style>
        <path
          class="st0"
          d="M11.5,15.7c0-7.5,6-13.5,13.5-13.5s13.5,6,13.5,13.5v18.2c0,7.5-6,13.5-13.5,13.5s-13.5-6-13.5-13.5V15.7z"
        />
        <g>
          <circle id="circle1" class="st1" cx="25" cy="17.3" r="2.4" />
          <circle id="circle2" class="st1" cx="25" cy="24.8" r="2.4" />
          <circle id="circle3" class="st1" cx="25" cy="32.3" r="2.4" />
        </g>
      </svg>
    </a>
  </div>
</section>

<section class="main-section home-section-one dark" id="sec1">
  <div class="container">
    <div class="main-heading">
      <h2>Discover Shops</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/11/jGjJk27601.webp"
              height="338px"
              width="338px"
              alt="Modern"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Modern</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/ohQcy13312.webp"
              height="338px"
              width="338px"
              alt="Semi Classic"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Semi Classic</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/MqEju13712.webp"
              height="338px"
              width="338px"
              alt="Classic"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Classic</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/quExY13612.webp"
              height="338px"
              width="338px"
              alt="Kids Furniture"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Kids Furniture</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/YpbwY13812.webp"
              height="338px"
              width="338px"
              alt="Accessories"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Accessories</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/gFEyF13912.webp"
              height="338px"
              width="338px"
              alt="Outdoor Furniture"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Outdoor Furniture</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/07/pyIl813112.webp"
              height="338px"
              width="338px"
              alt="Mattresses"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Mattresses</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/09/rIRar05405.png"
              height="338px"
              width="338px"
              alt="Carpets"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Carpets</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/11/0fKVx27301.webp"
              height="338px"
              width="338px"
              alt="Flooring"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Flooring</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2023/11/6fYzR27301.webp"
              height="338px"
              width="338px"
              alt="Kitchens"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Kitchens</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-5">
        <a [routerLink]="['/brand']">
          <figure>
            <img
              class="w-100"
              src="https://artoflivingmall.com/images/media/2024/04/CG90c22505.png"
              height="338px"
              width="338px"
              alt="Lightings"
            />
          </figure>
          <figcaption class="sec1Wrap text-center mt-3">
            <h4 class="mb-1">Lightings</h4>
            <span class="btnLnk">Discover</span>
          </figcaption>
        </a>
      </div>
    </div>
    <a
      [routerLink]="['/product']"
      style="margin: auto; display: table; border: 1px solid #c10016"
      class="btn"
    >
      {{ "viewAllBrands" | translate }}</a
    >
  </div>
</section>

<section class="main-section home-section-two">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-sm-12">
        <div class="sec2WrpMain mb-3 mb-sm-0">
          <figure class="sec2Inr">
            <img
              src="https://artoflivingmall.com/images/media/2023/12/DCpx923405.jpg"
              height="662px"
              width="794px"
              alt="Book Your Shopping Advisor"
            />
            <figcaption>
              <h2>Book Your Shopping Advisor</h2>
              <a [routerLink]="['/advisor']" class="btn">{{
                "showAll" | translate
              }}</a>
            </figcaption>
          </figure>
          <div class="sec2Slider">
            <article>
              <h4><span></span></h4>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section home-section-three dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="main-heading">
          <h2 class="mb-4">Shops Coming Soon</h2>
          <p>Be sure to stay tuned as we have more shops opening soon.</p>
        </div>
        <div class="sec3Slider"></div>
      </div>
    </div>
  </div>
</section>
<section class="main-section home-section-four home-section-two">
  <div class="container-fluid g-0">
    <figure class="sec2Inr">
      <img
        src="https://artoflivingmall.com/images/media/2023/07/CDmmR13712.webp"
        height="662px"
        width="1588px"
        alt="Dine"
      />
      <figcaption>
        <h2>Dine</h2>
        <p>
          Prepare your taste buds for a delightful culinary adventure amidst of
          exciting shopping experience.
        </p>
        <a [routerLink]="['/dine']" class="btn">{{ "discover" | translate }}</a>
      </figcaption>
    </figure>
  </div>
</section>
<section class="main-section home-section-five home-section-two">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="sec2WrpMain">
          <div class="sec5Slider">
            <figure class="sec2Inr">
              <img
                src="https://artoflivingmall.com/images/media/2023/07/YOYBf13912.webp"
                height="781px"
                width="770px"
                alt="Events Calendar"
              />
              <figcaption class="sec2Inr">
                <h2>Events Calendar</h2>
                <p>
                  The mall is buzzing with an exciting lineup of events that are
                  sure to <br />
                  captivate visitors of all ages, stay updated.
                </p>
                <a [routerLink]="['/event']" class="btn">
                  {{ "discover" | translate }}
                </a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="main-section home-section-four home-section-six home-section-two"
>
  <div class="container-fluid g-0">
    <figure class="sec2Inr">
      <img
        src="https://artoflivingmall.com/images/media/2023/11/9gOIs27701.webp"
        height="662px"
        width="1588px"
        alt="Blog"
      />
      <figcaption>
        <h2>Blog</h2>
        <p>
          Explore the realms of design, lifestyle, and inspiration in our
          exclusive blog—your gateway to a world where art, living, and
          creativity intersect.
        </p>
        <a [routerLink]="['/blog']" class="btn">{{ "discover" | translate }}</a>
      </figcaption>
    </figure>
  </div>
</section>
