<section class="inner-banner">
  <figure>
    <img
      src="https://artoflivingmall.com/images/media/2024/10/sguWQ12912.png"
      width="1525"
      height="469"
      alt="*"
      class="w-100"
    />

    <figcaption>
      <h2>Offers</h2>
    </figcaption>
  </figure>
</section>

<section class="main-section offer-section dark" id="latest_offers">
  <div class="container">
    <div class="main-heading">
      <h2>Offers</h2>
      <p class="mt-3">Stay tuned for the latest offers</p>
    </div>
    <!-- <div id="item-list">
      <div class="row align-items-center mb-lg-5">
        <div class="col-md-6">
          <figure>
            <img src="" alt="*" class="w-100" />
          </figure>
        </div>
        <div class="col-md-6 mt-4 mt-md-0 ps-lg-5">
          <article>
            <h3 class="mb-4"></h3>

            <span class="mb-3 d-block date"></span>
            <span class="mb-3 d-block"></span>

            <p></p>
          </article>

          <div>
            <a href="" class="btn bg-white"></a>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="loadBtn text-center mt-4">
      <button class="btn" id="load_more"></button>
    </div> -->
  </div>
</section>
