<app-header></app-header>

<router-outlet></router-outlet>
<!-- <app-branddetails></app-branddetails> -->
<!-- <app-products></app-products> -->
<!-- <app-designers></app-designers> -->
<!-- <app-home></app-home> -->
<!-- <app-contact></app-contact> -->
<!-- <app-entertainment></app-entertainment> -->
<!-- <app-shop></app-shop> -->
<!-- <app-blog></app-blog> -->
<!-- <app-dine></app-dine> -->
<!-- <app-partner></app-partner> -->
<!-- <app-advisor></app-advisor> -->
<!-- <app-plan></app-plan> -->
<!-- <app-about></app-about> -->
<!-- <app-events></app-events> -->
<!-- <app-eventdetails></app-eventdetails>   -->
<!-- <app-offers></app-offers> -->
<!-- <app-kidsbrand></app-kidsbrand> -->
<!-- <app-caffeine></app-caffeine> -->
<!-- <app-blogdetails></app-blogdetails> -->
<app-map></app-map>
<app-footer></app-footer>
