<section class="inner-banner">
  <figure>
    <img
      src="https://artoflivingmall.com/images/media/2023/06/YUpMK05712.png"
      width="1525"
      height="469"
      alt="*"
      class="w-100"
    />

    <figcaption>
      <h2>Dine</h2>

      <p>
        Get ready for a delicious gourmet trip with your taste buds. Enjoy the
        best flavors and ingredients to sate your appetite with high-quality
        meals at your favorite restaurants.
      </p>
    </figcaption>
  </figure>
</section>

<section class="main-section dine-section-one">
  <div class="container">
    <div class="main-heading dark">
      <h2 class="mb-4">Restaurants and Cafes</h2>
      <p>
        Indulge in delicious dining at your favorite restaurant amidst an
        exciting shopping adventure
      </p>
    </div>

    <ul
      class="nav nav-tabs mb-3 mb-lg-5 gap-3 gap-md-0"
      id="myTab"
      role="tablist"
    >
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          data-bs-target="#tab-2"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="tab-2"
        >
          Cafe
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          data-bs-target="#tab-1"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="tab-1"
        >
          Restaurant
        </button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab-2" role="tabpanel">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <a [routerLink]="['/caffeine']">
              <figure class="mt-4">
                <img
                  src="https://artoflivingmall.com/images/media/2023/06/r9GoI15312.JPG"
                />
                <figcaption class="mt-4">
                  <h3>Caffeine</h3>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="tab-1" role="tabpanel">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <div class="main-heading">
              <h2 class="mb-4">Be Our Partner</h2>
              <a
                href="javascript:;"
                class="btn bg-white mt-1"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Be Our Partner
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
