<app-banner
  [src]="'assets/images/dine-banner.png'"
  [header]="'dine'"
></app-banner>

<section class="main-section dine-section-one">
  <div class="container">
    <div class="main-heading dark">
      <h2 class="mb-4">{{ "restaurants_cafes" | translate }}</h2>
      <p>
        {{ "dined" | translate }}
      </p>
    </div>

    <ul
      class="nav nav-tabs mb-3 mb-lg-5 gap-3 gap-md-0"
      id="myTab"
      role="tablist"
    >
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          data-bs-target="#tab-2"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="tab-2"
        >
          {{ "cafe" | translate }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          data-bs-target="#tab-1"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="tab-1"
        >
          {{ "Restaurant" | translate }}
        </button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab-2" role="tabpanel">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <a [routerLink]="['/dines-details', 'caffeine']">
              <figure class="mt-4">
                <img src="assets/images/caffein.jpg" />
                <figcaption class="mt-4">
                  <h3>{{ "Caffeine" | translate }}</h3>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="tab-1" role="tabpanel">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <div class="main-heading">
              <h2 class="mb-4">{{ "be_a_partner" | translate }}</h2>
              <a [routerLink]="['/partner']" class="btn bg-white mt-1">
                {{ "be_a_partner" | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
