<app-banner [src]="'/assets/images/restaurant-banner.png'" [header]="'Caffeine'"
  >></app-banner
>

<section class="main-section dine-detail-one">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <figcaption>
          <img src="assets/images/clogo.png" />
          <div class="main-heading text-start dark mb-4 mt-4">
            <h2>{{ "Caffeine" | translate }}</h2>
          </div>
          <p>
            {{ "caffeind" | translate }}
          </p>
          <a href="javascript:;" class="btn bg-white">{{
            "seelocation" | translate
          }}</a>
        </figcaption>
      </div>
      <div class="col-sm-6">
        <figure>
          <img data-src="assets/images/caffeinde.jpg" loading="lazy" />
        </figure>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <ul class="locDetail">
              <li>
                <span> <img src="assets/images/locIcon.svg" alt="" /></span
                ><a href="javascript:;">Shop 39 Ground Floor</a>
              </li>

              <li>
                <span> <img src="assets/images/bar2.svg" alt="" /></span
                ><a href="javascript:;">{{ "Ground Floor" | translate }}</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="locDetail">
              <li>
                <span><img src="assets/images/mailIcon.svg" alt="" /></span
                ><a href="javascript:;">infocaffeinearabia.com</a>
              </li>

              <li>
                <span> <img src="assets/images/phoneIcon.svg" alt="" /></span
                ><a href="javascript:;">+971521041738</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-section dine-detail-two pt-0">
  <div class="container">
    <div class="row sliderxs">
      <div class="col-md-3">
        <a
          href="assets/images/caffein1.jpg"
          data-fancybox="gallery"
          class="fancybox"
          ><img class="" src="assets/images/caffein1.jpg" alt=""
        /></a>
      </div>
      <div class="col-md-3">
        <a
          href="assets/images/caffein2.jpg"
          data-fancybox="gallery"
          class="fancybox"
          ><img class="" src="assets/images/caffein2.jpg" alt=""
        /></a>
      </div>
      <div class="col-md-3">
        <a
          href="assets/images/caffein3.jpg"
          data-fancybox="gallery"
          class="fancybox"
          ><img class="" src="assets/images/caffein3.jpg" alt=""
        /></a>
      </div>
      <div class="col-md-3">
        <a
          href="assets/images/caffein4.jpg"
          data-fancybox="gallery"
          class="fancybox"
          ><img class="" src="assets/images/caffein4.jpg" alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
