<app-banner
  [src]="'assets/images/event-banner.jpg'"
  [header]="'events'"
></app-banner>
<div class="loader-container" *ngIf="loading; else content">
  <app-loader></app-loader>
</div>

<ng-template #content>
  <div *ngIf="error.length" class="alert alert-danger" role="alert">
    Some Thing Is Happning When Fetch Data
  </div>

  <section
    *ngIf="events.length"
    class="main-section events-section-one"
    id="sec1"
  >
    <div class="container">
      <div class="events-inner events-right">
        <div class="row align-items-center" *ngFor="let event of events">
          <div class="col-md-6">
            <figcaption>
              <div class="main-heading dark text-start mb-4">
                <h2>
                  {{ currntLang == "en" ? event.title_en : event.title_ar }}
                </h2>

                <span>{{ event.created_at | date }}</span>
              </div>
              {{
                currntLang == "en" ? event.description_en : event.description_ar
              }}
              <a class="btn mt-2" [routerLink]="['/eventdetails']">{{
                "viewGallery" | translate
              }}</a>
            </figcaption>
          </div>

          <div class="col-md-6">
            <div class="events-slider">
              <div class="gallery-item">
                <figure>
                  <img
                    src="https://artoflivingmall.com/images/media/2024/10/Yh7Ln12601.png"
                    width="497"
                    height="497"
                    alt="Dubai Home Festival - Cash Back Offers 0"
                  />
                </figure>
              </div>

              <div class="gallery-item">
                <figure>
                  <img
                    src="https://artoflivingmall.com/images/media/2024/10/qZa0v12101.png"
                    width="497"
                    height="497"
                    alt="Dubai Home Festival - Cash Back Offers 1"
                  />
                </figure>
              </div>

              <div class="gallery-item">
                <figure>
                  <img
                    src="https://artoflivingmall.com/images/media/2024/10/ppRWR12501.png"
                    width="497"
                    height="497"
                    alt="Dubai Home Festival - Cash Back Offers 2"
                  />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main-section home-section-three dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="main-heading">
            <h2 class="mb-4">{{ "shopsComingSoon" | translate }}</h2>
            <p>{{ "stayTunedMoreShops" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
