<section class="inner-banner">
  <figure>
    <img
      src="https://artoflivingmall.com/images/media/2023/06/T5XLb19405.jpg"
      width="1525"
      height="469"
      alt="*"
      class="w-100"
    />

    <figcaption>
      <h2>Events</h2>
    </figcaption>
  </figure>
</section>

<section class="main-section events-section-one" id="sec1">
  <div class="container">
    <div class="events-inner events-right">
      <div class="row align-items-center">
        <div class="col-md-6">
          <figcaption>
            <div class="main-heading dark text-start mb-4">
              <h2>Dubai Home Festival - Cash Back Offers</h2>

              <span>27 October 2024</span>
            </div>
            Does your house feel like home? If not, we’ve got just what you need
            to make it truly yours! Enjoy cashback and offers up to 70%! from 11
            October to 27 October In Dimora, ID Vision, and Sleepmod at Art of
            Living It’s time to turn your space into the cozy, stylish home
            you've always wanted! Don’t wait .. your dream home is just a visit
            away!
            <a class="btn mt-2" [routerLink]="['/eventdetails']"
              >{{"viewGallery"|translate}}</a
            >
          </figcaption>
        </div>

        <div class="col-md-6">
          <div class="events-slider">
            <div class="gallery-item">
              <figure>
                <img
                  src="https://artoflivingmall.com/images/media/2024/10/Yh7Ln12601.png"
                  width="497"
                  height="497"
                  alt="Dubai Home Festival - Cash Back Offers 0"
                />
              </figure>
            </div>

            <div class="gallery-item">
              <figure>
                <img
                  src="https://artoflivingmall.com/images/media/2024/10/qZa0v12101.png"
                  width="497"
                  height="497"
                  alt="Dubai Home Festival - Cash Back Offers 1"
                />
              </figure>
            </div>

            <div class="gallery-item">
              <figure>
                <img
                  src="https://artoflivingmall.com/images/media/2024/10/ppRWR12501.png"
                  width="497"
                  height="497"
                  alt="Dubai Home Festival - Cash Back Offers 2"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-section home-section-three dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="main-heading">
          <h2 class="mb-4">Shops Coming Soon</h2>
          <p>Be sure to stay tuned as we have more shops opening soon.</p>
        </div>
        <div class="sec3Slider"></div>
      </div>
    </div>
  </div>
</section>
