<section class="main-section events-detail-two">
  <div class="container">
    <div class="main-heading dark pt-4">
      <h2>Event Gallery</h2>
    </div>
    <ul>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/OXm7k30611.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/OXm7k30611.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/Gt3F930411.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/Gt3F930411.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/Ir54F30911.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/Ir54F30911.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/y5RLW30411.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/y5RLW30411.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/u9nKn30211.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/u9nKn30211.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/sllyH30411.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/sllyH30411.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/GZoCO30511.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/GZoCO30511.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/rNHNB30511.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/rNHNB30511.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/BseuS30111.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/BseuS30111.png"
              alt="*"
          /></a>
        </figure>
      </li>
      <li>
        <figure>
          <a
            href="https://artoflivingmall.com/images/media/2023/05/Iqfap30511.png"
            data-fancybox="gallery"
            class="d-block h-100 fancybox"
            ><img
              class=" fadeIn"
              src="https://artoflivingmall.com/images/media/2023/05/Iqfap30511.png"
              alt="*"
          /></a>
        </figure>
      </li>
    </ul>
  </div>
</section>
