<app-banner
  [src]="'assets/images/contactBnr.jpg'"
  [header]="'designersClub'"
></app-banner>

<section class="main-section contact-section-two pt-3 dark">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-8">
        <div class="formWrap">
          <h2 class="mb-4 mb-lg-5">{{ "applicationForm" | translate }}</h2>

          <form
            id="designer-registration-form"
            enctype="multipart/form-data"
            #designer="ngForm"
            (ngSubmit)="onSubmit(designer)"
          >
            <h3>{{ "personalInformation" | translate }}</h3>

            <div class="mb-3">
              <label for="full-name" class="form-label">
                {{ "fullName" | translate }}
              </label>
              <input
                type="text"
                id="full-name"
                name="full_name"
                ngModel
                #name="ngModel"
                class="form-control"
                required
              />
              <div *ngIf="name.invalid && name.touched" class="text-danger">
                {{ "Required" | translate }}
              </div>
            </div>

            <div class="mb-3">
              <label for="contact-number" class="form-label">
                {{ "contactNumber" | translate }}
              </label>
              <input
                type="number"
                id="contact-number"
                name="contact_number"
                ngModel
                #contact_number="ngModel"
                class="form-control"
                required
              />
              <div
                *ngIf="contact_number.invalid && contact_number.touched"
                class="text-danger"
              >
                {{ "Required" | translate }}
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">
                {{ "Required" | translate }}
              </label>
              <input
                type="email"
                id="email"
                name="email"
                ngModel
                class="form-control"
                required
                #email="ngModel"
              />
              <div *ngIf="email.invalid && email.touched" class="text-danger">
                {{ "Required" | translate }}
              </div>
            </div>

            <div class="mb-3">
              <label for="nationality" class="form-label">
                {{ "nationality" | translate }}
              </label>
              <input
                type="text"
                id="nationality"
                name="nationality"
                ngModel
                #nationality="ngModel"
                class="form-control"
              />
            </div>
            <div *ngIf="email.invalid && email.touched" class="text-danger">
              {{ "Required" | translate }}
            </div>
            <div class="mb-3">
              <label for="dob" class="form-label">
                {{ "dateOfBirth" | translate }}
              </label>
              <input
                type="date"
                id="dob"
                name="date_of_birth"
                ngModel
                #date_of_birth="ngModel"
                class="form-control"
                required
              />
              <div
                *ngIf="date_of_birth.invalid && date_of_birth.touched"
                class="text-danger"
              >
                {{ "Required" | translate }}
              </div>
            </div>

            <div class="mb-3">
              <label for="portfolio" class="form-label">
                {{ "portfolio" | translate }}
              </label>
              <input
                type="text"
                id="portfolio"
                required
                name="portfolio"
                ngModel
                class="form-control"
                #portfolio="ngModel"
              />
            </div>
            <div
              *ngIf="portfolio.invalid && portfolio.touched"
              class="text-danger"
            >
              {{ "Required" | translate }}
            </div>

            <div class="mb-3">
              <label for="social_account" class="form-label">
                {{ "socialAccount" | translate }}
              </label>
              <input
                type="text"
                id="social_account"
                name="social_account"
                ngModel
                required
                class="form-control"
                #social_account="ngModel"
              />
            </div>
            <div
              *ngIf="social_account.invalid && social_account.touched"
              class="text-danger"
            >
              {{ "Required" | translate }}
            </div>

            <h3 class="mt-5">{{ "termsAndConditions" | translate }}</h3>

            <div class="checkbox mb-4 d-flex align-items-center gap-1">
              <label for="html" class="d-flex">
                <input type="checkbox" id="html" name="terms" ngModel />
                <span class="label"></span>
              </label>
              <p class="mb-0">
                {{ "acceptTerms" | translate }}
                <a
                  href="javascript:;"
                  data-bs-toggle="modal"
                  data-bs-target="#terms"
                  >{{ "termsAndConditions" | translate }}</a
                >
              </p>
              <div *ngIf="designer.submitted" class="text-danger">
                {{ "termsRequired" | translate }}
              </div>
            </div>

            <h3>{{ "declaration" | translate }}</h3>
            <p>{{ "declarationText" | translate }}</p>

            <button class="btn btn-primary" [disabled]="designer.invalid">
              {{ "submitRegistration" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
